In [ ]:
# 18 page 에 있는 폐암과 흡연 사이의 table 을 기준으로 둘 사이에 관련이 있는 지를 유의수준 0.05에서 검정하시오.

In [32]:
import numpy as np
import pandas as pd
import math 
from scipy.stats import fisher_exact

In [37]:
data1 = pd.DataFrame({"smoke" : ["Smoker", "Smoker", "Non-smoker", "Non-smoker"],
                      "status" : ["Lung cancer", "Healthy", "Lung cancer", "Healthy"],
                      "Observed" : [117, 30, 33, 120]})
data1.head()

        smoke       status  Observed
0      Smoker  Lung cancer       117
1      Smoker      Healthy        30
2  Non-smoker  Lung cancer        33
3  Non-smoker      Healthy       120

In [38]:
table1 = pd.pivot_table(data1, values = ["Observed"], index = ["status"],
                        columns = ["smoke"])
table1

              Observed
smoke       Non-smoker Smoker
status
Healthy            120     30
Lung cancer         33    117

In [35]:
def observed_prop(table):
  n, p = table.shape
  out1 = 1
  out2 = 1
  tot_n = 0

  for i in range(n):
    tot_n += np.sum(table.iloc[i,:])
    out1 *= math.factorial(np.sum(table.iloc[i,:]))
    for j in range(p):
      out2 *= math.factorial(table.iloc[i,j])

  out2 *= math.factorial(tot_n)
  for j in range(p):
    out1 *= math.factorial(np.sum(table.iloc[:,j]))

  result = out1/out2
  return result

print("observed probability is ", np.round(observed_prop(table1), 4))

observed probability is  0.0

In [39]:
_, pval = fisher_exact(table1, alternative='two-sided')
print('p-value is' , pval)

p-value is 1.297993583177085e-24